<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bear.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,794},{128,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,129}}</string>
                <key>sourceSize</key>
                <string>{128,129}</string>
            </dict>
            <key>buffalo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,270},{129,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,129}}</string>
                <key>sourceSize</key>
                <string>{129,129}</string>
            </dict>
            <key>chick.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,794},{129,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,128}}</string>
                <key>sourceSize</key>
                <string>{129,128}</string>
            </dict>
            <key>chicken.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,2},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>cow.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,663},{129,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,128}}</string>
                <key>sourceSize</key>
                <string>{129,128}</string>
            </dict>
            <key>crocodile.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,532},{129,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,128}}</string>
                <key>sourceSize</key>
                <string>{129,128}</string>
            </dict>
            <key>dog.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,2},{129,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,128}}</string>
                <key>sourceSize</key>
                <string>{129,128}</string>
            </dict>
            <key>duck.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,133},{129,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,128}}</string>
                <key>sourceSize</key>
                <string>{129,128}</string>
            </dict>
            <key>elephant.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,267},{129,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,128}}</string>
                <key>sourceSize</key>
                <string>{129,128}</string>
            </dict>
            <key>frog.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,663},{128,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,129}}</string>
                <key>sourceSize</key>
                <string>{128,129}</string>
            </dict>
            <key>giraffe.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,532},{128,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,129}}</string>
                <key>sourceSize</key>
                <string>{128,129}</string>
            </dict>
            <key>goat.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,401},{128,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,129}}</string>
                <key>sourceSize</key>
                <string>{128,129}</string>
            </dict>
            <key>gorilla.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,401},{129,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,128}}</string>
                <key>sourceSize</key>
                <string>{129,128}</string>
            </dict>
            <key>hippo.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,2},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>horse.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,794},{129,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,128}}</string>
                <key>sourceSize</key>
                <string>{129,128}</string>
            </dict>
            <key>monkey.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,788},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>moose.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,663},{129,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,128}}</string>
                <key>sourceSize</key>
                <string>{129,128}</string>
            </dict>
            <key>narwhal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{132,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,132}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>owl.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,658},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>panda.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,532},{129,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,128}}</string>
                <key>sourceSize</key>
                <string>{129,128}</string>
            </dict>
            <key>parrot.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,2},{129,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,128}}</string>
                <key>sourceSize</key>
                <string>{129,128}</string>
            </dict>
            <key>penguin.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,136},{129,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,128}}</string>
                <key>sourceSize</key>
                <string>{129,128}</string>
            </dict>
            <key>pig.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,528},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>rabbit.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,270},{129,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,128}}</string>
                <key>sourceSize</key>
                <string>{129,128}</string>
            </dict>
            <key>rhino.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,2},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>sloth.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,401},{129,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,128}}</string>
                <key>sourceSize</key>
                <string>{129,128}</string>
            </dict>
            <key>snake.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,133},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>walrus.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,264},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>whale.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,136},{132,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,131}}</string>
                <key>sourceSize</key>
                <string>{132,131}</string>
            </dict>
            <key>zebra.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,398},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>RoundWithout.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a013fbff1d09c48f5b83e16c67a3b29d$</string>
            <key>textureFileName</key>
            <string>RoundWithout.png</string>
        </dict>
    </dict>
</plist>
